@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Poppins', sans-serif;
}


.slide-in {
  animation-name: slideIn;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.slide-out {
  animation-name: slideOut;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}